<div class=form-container>
    <h1 class=heading>Account Application</h1>
<form>

    <div class="row">
        <div class="col-25">
            <label>Firstname</label></div>
            <div class="col-75"><input type="text"></div> 
    </div>

    <div class="row">
        <div class="col-25">
            <label> Middlename:</label> </div>
            <div class="col-75"><input type="text"></div> 
     </div> 

    <div class="row">
        <div class="col-25">
            <label>last Name:</label> </div>
            <div class="col-75"><input type="text"></div> 
    </div> 

    <div class="row">
        <div class="col-25"> 
            <label>Email</label> </div>
            <div class="col-75"><input type="text"></div> 
    </div> 

    <div class="row"> 
        <div class="col-25">
            <label>Phone</label> </div>
            <div class="col-75"><input type="text"></div> 
    </div> 

    <div class="row"> 
        <div class="col-25">
            <label>Father Name</label></div> 
            <div class="col-75"><input type="text"></div> 
    </div> 
   
    <div class="row"> 
        <div class="col-25">
            <label>Proof Type</label> </div>
            <div class="col-75"><select>
                <option>Aadhar</option>
                <option>Pan Card</option>
                <option>Driving license</option>
                <option>Voter Id</option>
            </select> 
        </div>
    </div>

    <div class="row"> 
        <div class="col-25">
            <label>Proof Id</label>
        </div> 
        <div class="col-75"><input type="text"></div> 
    </div> 

    <div class="row"> 
        <div class="col-25">
            <label>Date of Birth</label>
        </div>
        <div class="col-75"><input type="text"> </div> 
    </div> 

    <div class="row"> 
        <div class="col-25">
            <label>Address</label>
        </div> 
        <div class="col-75"><input type="text"></div> 
    </div> 
    <div class="row"> 
        <div class="col-25">
            <label>Landmark</label>
        </div> 
        <div class="col-75"><input type="text"></div> 
    </div> 

    <div class="row"> 
        <div class="col-25">
            <label>Pincode</label>
        </div> 
        <div class="col-75"><input type="text"></div> 
    </div> 

    <div class="row"> 
        <div class="col-25">
            <label>City</label>
        </div>
        <div class="col-75"><input type="text"></div> 
    </div> 

    <div class="row">
         <div class="col-25">
            <label>State</label>
         </div> 
         <div class="col-75"><input type="text"></div> 
    </div> 

    <div class="row"> 
        <div class="col-25">
            <label>Occupation</label>
        </div> 
        <div class="col-75"><input type="text"></div> 
    </div> 

    <div class="row"> 
        <div class="col-25">
            <label>Annual Income </label>
        </div>
        <div class="col-75"><input type="text"></div> 
    </div> 


    <div class="row">
        <button class="btn-style" type="submit">Submit</button>
     </div>

</form>
</div>

   
  
  