<div>
    <div class=form-container>
        <h1>Applications</h1>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Account Number</th>
                <th scope="col">Name</th>
                <th scope="col"></th>
            </tr>
        </thead>
        
        <tr *ngFor= "let account of accounts">
            <td>{{account[0]}}</td>
            <td>{{account[1]}} {{account[2]}} {{account[3]}}</td>
            <td><button class="btn-style" (click)=approve(account[0])>Approve </button></td>
        </tr>
        
        </table>
    </div>
    
    
    