<form>
    Name <input ><br>
    Account Number <input><br>
    Bank Ifsc<input ><br>
    <button type="submit">Add</button>
</form>

<div class=form-container>
    <h1 class=heading>NEFT payment</h1>
<form   class="form" [formGroup]="PaymentForm" (ngSubmit)="pay()">

    <div class="row">
        <div class="col-25">
            <label>From Account Number</label></div>
            <div class="col-75"><input type="number" placeholder="Accoount Number" formControlName="fromAccount" ></div> 
            <div  *ngIf="!PaymentForm.controls.fromAccount?.valid && (PaymentForm.controls.fromAccount?.dirty || PaymentForm.controls.fromAccount?.touched)"
                [ngStyle]="{'color':'red'}">
                Invalid Account Number
                </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label>To Accoount</label></div>
            <div class="col-75"><input type="number" placeholder="Enter Id" formControlName="toAccount"></div> 
            <div  *ngIf="!PaymentForm.controls.fromAccount?.valid && (PaymentForm.controls.fromAccount?.dirty || PaymentForm.controls.fromAccount?.touched)"
            [ngStyle]="{'color':'red'}">
              user id not valid
                </div>
              
    </div>
    <div class="row">
        <div class="col-25">
            <label>Amount</label></div>
            <div class="col-75"><input type="date" formControlName="dateAdded"></div> 
            <div  *ngIf="!PaymentForm.controls.fromAccount?.valid && (PaymentForm.controls.fromAccount?.dirty || PaymentForm.controls.fromAccount?.touched)"
            [ngStyle]="{'color':'red'}">
              Invalid date
                </div>
              
    </div>

    <div class="row">
        <div class="col-25">
            <label> Beneficiary Name</label> </div>
            <div class="col-75"><input type="text" placeholder="Beneficiary Name" formControlName="beneficiaryName" ></div> 
            <div  *ngIf="!PaymentForm.controls.fromAccount?.valid && (PaymentForm.controls.fromAccount?.dirty || PaymentForm.controls.fromAccount?.touched)"
            [ngStyle]="{'color':'red'}">
                Invalid Beneficiary Name
                </div>
     </div> 

   
  
     <div class="row">
        <div class="col-25">
            <label> Beneficiary Bank IFSC code</label> </div>
            <div class="col-75"><input type="text" placeholder="Beneficiary Bank IFSC code" formControlName="bankIfsc"></div> 
            <div  *ngIf="!PaymentForm.controls.fromAccount?.valid && (PaymentForm.controls.fromAccount?.dirty || PaymentForm.controls.fromAccount?.touched)"
            [ngStyle]="{'color':'red'}">
                Invalid  IFSC code
                </div>
     </div> 
   


    <div>

    </div>


    <div class="row">
        <button class="btn-style" type="submit">Submit</button>
     </div>

</form>
</div>

   
  
  