<div class= form-container>
    <h1 class = heading> Change Transaction Password</h1>
    
    <form [formGroup]=contactForm (ngSubmit)=onchangeTransPass()>

        <div class="row">
            <div class="col-25">
                <label> Old Password </label></div>
            <div class="col-75"> <input type ="text" required placeholder="Enter old Password" name="oldtransactionpassword" formControlName=oldtransactionpassword required minlength="4"> 

            <div *ngIf="!contactForm.controls.oldtransactionpassword?.valid && (contactForm.controls.oldtransactionpassword?.dirty || contactForm.controls.oldtransactionpassword?.touched)"   [ngStyle]="{'color':'red'}">
                Invalid Old Password
            </div>
        </div>
            
       </div>
        
                
    
            <div class="row">
                <div class="col-25">
                    <label> New Password </label></div>
                <div class="col-75"> <input type ="text" required placeholder="Enter new Password" name="newtransactionpassword" formControlName=newtransactionpassword required minlength="4"> 
                <div *ngIf="!contactForm.controls.newtransactionpassword?.valid && (contactForm.controls.newtransactionpassword?.dirty || contactForm.controls.newtransactionpassword?.touched)"   [ngStyle]="{'color':'red'}">
                    Invalid New Password

              </div>
            </div>
  
           </div>

    

                <div class="row">
                    <div class="col-25">
                        <label> Confirm Password </label></div>
                    <div class="col-75"> <input type ="text" required placeholder="Enter confirm pasword" name="confirmtransactionpassword" formControlName=confirmtransactionpassword required minlength="4" > 
                        

                    <div *ngIf="!contactForm.controls.confirmtransactionpassword?.valid && (contactForm.controls.confirmtransactionpassword?.dirty || contactForm.controls.confirmtransactionpassword?.touched)"   [ngStyle]="{'color':'red'}">
                        Invalid Confirm Password

                    </div>
                </div>
                </div>
                

                <div class="row">
                    <button class="btn-style" type="submit"  [disabled]='!contactForm.valid'> Confirm</button>
                </div>
    
                    

        </form>   
    
    </div>