<div class= form-container>
    <h1 class = heading> Change Password</h1>
    
    <form [formGroup]=contactForm (ngSubmit)=onchangePass()>

        <div class="row">
            <div class="col-25">
                <label> Old Password </label></div>
            <div class="col-75"> <input type ="text" required placeholder="Enter old password" name="oldpassword" formControlName=oldpassword required minlength="4"> 
              <div *ngIf="!contactForm.controls.oldpassword?.valid && (contactForm.controls.oldpassword?.dirty || contactForm.controls.oldpassword?.touched)"   [ngStyle]="{'color':'red'}">
                  Invalid Old Password
              </div>
            </div>
              
         </div>
          
    
       <div class="row">
            <div class="col-25">
                 <label> New Password </label></div>
             <div class="col-75"> <input type ="text" required placeholder="Enter new password" name="newpassword" formControlName=newpassword required minlength="4">
                <div *ngIf="!contactForm.controls.newpassword?.valid && (contactForm.controls.newpassword?.dirty || contactForm.controls.newpassword?.touched)" [ngStyle]="{'color':'red'}">
                    Invalid New Password
                </div>
            </div>
            
     </div>
    

        <div class="row">
             <div class="col-25">
                 <label> Confirm Password </label></div>
     <div class="col-75"> <input type ="text" required placeholder="Enter confirm password" name="confirmpassword" formControlName=confirmpassword required minlength="4"> 

             <div *ngIf="!contactForm.controls.confirmpassword?.valid && (contactForm.controls.confirmpassword?.dirty || contactForm.controls.confirmpassword?.touched)" [ngStyle]="{'color':'red'}">
                    Invalid Confirm Password
                </div>
           
            </div>

        </div>
                <div class="row">
                     <button class="btn-style" type="submit"  [disabled]='!contactForm.valid'> Confirm</button>
                 </div>

            
      
        </form>
    </div>
    