<div class= form-container>
    <h1 class = heading> Change Password</h1>
    
    <form [formGroup]=contactForm (ngSubmit)=onchangePass()>


   
        <div class="row">
            <div class="col-25">
                <label> User Id </label></div>
            <div class="col-75"> <input type ="text" required placeholder="Enter User Id" name="userId" formControlName=userId required minlength="4"> 

            <div *ngIf="!contactForm.controls.userId?.valid && (contactForm.controls.userId?.dirty || contactForm.controls.userId?.touched)"   [ngStyle]="{'color':'red'}">
                Invalid User Id
            </div>
        </div>
            
       </div>
        

        <div class="row">
            <div class="col-25">
                <label> Old Password </label></div>
            <div class="col-75"> <input type ="text" required placeholder="Enter old Password" name="oldpassword" formControlName=oldPassword required minlength="4"> 

            <div *ngIf="!contactForm.controls.oldPassword?.valid && (contactForm.controls.oldPassword?.dirty || contactForm.controls.oldPassword?.touched)"   [ngStyle]="{'color':'red'}">
                Invalid Old Password
            </div>
        </div>
            
    </div>
        
                
    
            <div class="row">
                <div class="col-25">
                    <label> New Password </label></div>
                <div class="col-75"> <input type ="password" required placeholder="Enter new Password" name="newpassword" formControlName=updatedPassword required minlength="4"> 
                <div *ngIf="!contactForm.controls.updatedPassword?.valid && (contactForm.controls.updatedPassword?.dirty || contactForm.controls.updatedPassword?.touched)"   [ngStyle]="{'color':'red'}">
                    Invalid New Password

              </div>
            </div>
  
           </div>


                <div class="row">
                    <div class="col-25">
                        <label> Confirm Password </label></div>
                    <div class="col-75"> <input type ="password" required placeholder="Enter confirm pasword" name="confirmpassword" formControlName=confirmPassword required minlength="4" > 
                        
                    <div *ngIf="!contactForm.controls.confirmPassword?.valid && contactForm.controls.confirmPassword?.value!=contactForm.controls.updatedPassword?.value "
                       [ngStyle]="{'color':'red'}">
                        Invalid Confirm Password

                    </div>
                </div>
             </div>

             
                

                <div class="row">
                    <button class="btn-style" type="submit"  [disabled]='!contactForm.valid'> Confirm</button>
                </div>
    


          </form>
            
    </div>
         
    
    