
<nav class="navbar ">
  
    <a routerLink="" class="navbar-brand ">Application</a>
  <!-- <a [routerLink]="['login','1234']" class="nav-link ">Login</a> -->
  <a routerLink="/dashboard" class="nav-link ">Dashboard</a>
  
  <a routerLink="/openaccount" class="nav-link ">Open Account</a>
  <a routerLink="/accountstatus" class="nav-link ">Account Status</a>
  <a routerLink="/changepassword" class="nav-link ">Change Password</a>
  <a routerLink="/changetransactionpassword" class="nav-link ">Change Transaction Password</a>
  <!-- <a routerLink="/admin" class="nav-link ">Admin Dashboard</a>
  <a routerLink="/admin/login" class="nav-link ">Admin Login</a>
  <a routerLink="/admin/logout" class="nav-link ">Admin Logout</a> -->
    <button> <a routerLink="/logout" class="nav-link ">Logout</a> </button>
  </nav>

  <router-outlet ></router-outlet>