<form>
    Name <input ><br>
    Account Number <input><br>
    Bank Ifsc<input ><br>
    <button type="submit">Add</button>
</form>

<div class=form-container>
    <h1 class=heading>Beneficiary</h1>
<form   class="form" [formGroup]="BeneficiaryForm" (ngSubmit)="AddBenef()">

    <div class="row">
        <div class="col-25">
            <label>Beneficiary Account Number</label></div>
            <div class="col-75"><input type="number" placeholder="Accoount Number" formControlName="beneficiaryAccNo" ></div> 
            <div  *ngIf="!BeneficiaryForm.controls.beneficiaryAccNo?.valid && (BeneficiaryForm.controls.beneficiaryAccNo?.dirty || BeneficiaryForm.controls.beneficiaryAccNo?.touched)"
                [ngStyle]="{'color':'red'}">
                Invalid Account Number
                </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label>User ID</label></div>
            <div class="col-75"><input type="number" placeholder="Enter Id" formControlName="userId"></div> 
            <div  *ngIf="!BeneficiaryForm.controls.userId?.valid && (BeneficiaryForm.controls.userId?.dirty || BeneficiaryForm.controls.userId?.touched)"
                [ngStyle]="{'color':'red'}">
              user id not valid
                </div>
              
    </div>
    <div class="row">
        <div class="col-25">
            <label>Date</label></div>
            <div class="col-75"><input type="date" formControlName="dateAdded"></div> 
            <div  *ngIf="!BeneficiaryForm.controls.dateAdded?.valid && (BeneficiaryForm.controls.dateAdded?.dirty || BeneficiaryForm.controls.dateAdded?.touched)"
                [ngStyle]="{'color':'red'}">
              Invalid date
                </div>
              
    </div>

    <div class="row">
        <div class="col-25">
            <label> Beneficiary Name</label> </div>
            <div class="col-75"><input type="text" placeholder="Beneficiary Name" formControlName="beneficiaryName" ></div> 
            <div  *ngIf="!BeneficiaryForm.controls.beneficiaryName?.valid && (BeneficiaryForm.controls.beneficiaryName?.dirty || BeneficiaryForm.controls.beneficiaryName?.touched)"
                [ngStyle]="{'color':'red'}">
                Invalid Beneficiary Name
                </div>
     </div> 

   
  
     <div class="row">
        <div class="col-25">
            <label> Beneficiary Bank IFSC code</label> </div>
            <div class="col-75"><input type="text" placeholder="Beneficiary Bank IFSC code" formControlName="bankIfsc"></div> 
            <div  *ngIf="!BeneficiaryForm.controls.bankIfsc?.valid && (BeneficiaryForm.controls.bankIfsc?.dirty || BeneficiaryForm.controls.bankIfsc?.touched)"
                [ngStyle]="{'color':'red'}">
                Invalid  IFSC code
                </div>
     </div> 
   


    <div>

    </div>


    <div class="row">
        <button class="btn-style" type="submit">Submit</button>
     </div>

</form>
</div>

   
  
  