input[type=date] ,select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .col-25 {
    float: left;
    width: 20%;
    margin-top: auto;
    margin-left: 10%;
    color: #88948b;
    justify-content: center;
  }

  .col-75 {
    float: left;
    width: 50%;
    margin-top: auto;
    margin-left: 5px;
  }
  .form-container{
    width: 80%;
    margin-top:20px;
    margin-bottom: 20px;
  }
