.accountSummary{
    border:rgb(242 242 242);
    border-style:solid;
    border-radius: 10px;
    background: #f2f2f2;
    margin-top:20px;
    margin-bottom: 20px;
    text-align: center;
    color: darkgray;
    width :80%;
}

.bold{
    font-weight: bold;
    color:rgb(139, 1, 1)
}

.row-align{
    display: flex;
    justify-content: center;
}