<div>
<h1>Account Summary </h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Transaction ID</th>
            <th scope="col">Beneficiary Account Number</th>
            <th scope="col">Beneficiary Name</th>
            <th scope="col">Transaction Type</th>
            <th scope="col">Amount</th>
            <th scope="col">Db or Cr</th>
            <th scope="col">Transaction Date</th>
        </tr>
    </thead>
    
    <tr *ngFor= "let transaction of transactions">
        <td>{{transaction.transactionId}}</td>
        <td>{{transaction.beneficiaryAcctNo}}</td>
        <td>{{transaction.beneficiaryName}}</td>
        <td>{{transaction.transactionType}}</td>
        <td>{{transaction.transactionAmount}}</td>
        <td>{{transaction.dbOrCr}}</td>
        <td>{{transaction.transactionDate}}</td>
    </tr>
    
    </table>
</div>
<div class = form > 
    <div>Make Transaction</div>
    <div>Add Beneficiary</div>
 </div>

